<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.example.abcdialogue"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:exported="true"
        android:icon="@mipmap/ic_launcher_weibo"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        <activity
            android:name=".Test.LottieActivity"
            android:exported="true" />
        <activity
            android:name=".Weibo.FontSizeActivity"
            android:exported="true" />
        <activity android:name=".Weibo.LoginActivity" />
        <activity android:name=".Weibo.InitSDK" />
        <activity android:name=".Weibo.WeiBoActivity" />
        <activity android:name=".Module.MainActivity2" />
        <activity android:name=".Weibo.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>